*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677 , #4e085f);
    padding: 20px;
}
.todo{
    width: 100%;
    max-width: 540px;
    border-radius: 10px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    background-color: #fff;
}
.todo h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo h2 img{
    width: 50px;
    padding-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
}
input{
    flex: 1;
    background: transparent;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 10px;
}
button{
    background-color: rgb(221, 139, 101);
    padding: 16px 40px;
    border-radius: 40px;
    border: none;
}
ul li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    position: relative;
}
ul li::before{
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    top: 7px;
    left: 8px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    top: 7px;
    left: 8px;
    background-image: url(images/checked.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #555;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
ul li span:hover{
    background-color: #555;
    color: #fff;
}

 